<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-text mx-3">CHANEL DEMO</div>

    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="/tables">
        <i class="fas fa-fw fa-user-circle"></i>
        <span>IBM Support</span></a>
    </li>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Analysis</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item" onclick="clears()">
      <a class="nav-link" href="/cardspage">
        <i class="fas fa-fw fa-bars"></i>
        <span>Planning</span></a>
    </li>

    <!-- Nav Item - Tables -->

    <li class="nav-item">
      <a class="nav-link" href="/tables">
        <i class="fas fa-fw fa-user-circle"></i>
        <span>Drivers</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/newlink">
        <i class="fas fa-fw fa-user-circle"></i>
        <span>New One</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


  </ul>
  <!-- End of Sidebar -->
